* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: Latobla;
    src: url(../03-PSD-images/Font/Lato-Black.ttf)
}

@font-face {
    font-family: Latoreg;
    src: url(../03-PSD-images/Font/Lato-Regular.ttf)
}

@font-face {
    font-family: cardo;
    src: url(../03-PSD-images/Font/Cardo-Bold.ttf)
}

.container {
    width: 1260px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.jstr {
    justify-content: right;
}

.align-center {
    align-items: center;
}

.jst {
    justify-content: space-between;
}

.pos-rel {
    position: relative;
}

.pos-ab {
    position: absolute;
}

.sec1 img {
    width: 8%;
}

.col-50 {
    width: 50%;
}

.navbar ul li {
    display: inline-block;
    font-size: 20px;
    letter-spacing: -1px;
    color: #232323;
    font-weight: 300;
    font-family: "Latoreg";
    text-align: left;
    padding: 20px;
    margin: 20px 0;
}

.navbar li:nth-child(1) {
    font-family: "Latobla";
}

.sec1 button {
    margin: 27px 0;
    padding: 4px 10px;
    border-radius: 5px;
    border: 3px solid #232323;
}

.sec1 button {
    font-size: 20px;
    color: #232323;
    font-weight: 500;
    font-family: "Latoreg";
    text-align: center;
}

.bghead {
    background-image: url(../03-PSD-images/img002.png);
    background-repeat: no-repeat;
}

.text h3 {
    width: 50%;
    font-size: 60px;
    color: #232323;
    font-family: "cardo";
    margin: 0 50px;
}

.text p {
    width: 50%;
    font-size: 17px;
    letter-spacing: 2px;
    color: #232323;
    font-family: "Latoreg";
    text-align: justify;
    margin: 0 50px;
}

.text button {
    border-radius: 5px;
    background-color: #232323;
    margin: 0 50px;
}

.text button {
    padding: 4px;
    margin: 30px 60px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #e9e7e7;
    font-family: "Latoreg";
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-50 img {
    display: inline-block;
    width: 100%;
    padding: 0 60px;
}

.imghead img {
    width: 10%;
    height: 245px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    bottom: -27px;
}

.sec2 {
    background-color: black;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 40px 0;

}

.sec2 .Limg1 {
    position: absolute;
    width: 30%;
    Left: 0;
}

.sec2 .Limg12 {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.sec2 h3 {
    width: 35%;
    margin: 0 auto;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: #fff;
    font-family: "Cardo";
    text-align: center;
}

.sec2 p {
    width: 30%;
    padding: 20px 0;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    font-family: "Lato";
    text-align: center;
}

.sec2 button {
    border-radius: 2px;
    padding: 5px 20px;
    background-color: rgb(6, 6, 6);
    border-color: #fff;
}

.sec2 button {
    font-size: 17px;
    color: #e9e7e7;
    font-weight: 300;
    font-family: "Latoreg";
}

.col-30 {
    width: 30%;
}

.sec3 {
    margin: 50px 0;
}

.sec3 .img1 {
    position: absolute;
    width: 100px;
    left: -76px;
}

.ma-l {
    margin-left: auto;
    padding: 5px 0;
}

.ma-r {
    margin-right: auto;
    padding: 5px 0;
}

.sec3 .img2 {
    position: absolute;
    right: -30px;
    overflow: hidden;
}

.icon {
    text-align: center;
}

.box1 img {
    width: 100%;
}

.box1 h3 {
    font-size: 30px;
    color: #232323;
    font-weight: 700;
    font-family: "Cardo";
}

.box1 p {
    font-size: 17px;
    color: #232323;
    font-weight: 400;
    font-family: "Lato";
    text-align: left;
}

.sec4 h2 {
    font-size: 80px;
    line-height: 98px;
    color: #232323;
    font-weight: 700;
    font-family: "Cardo";
    text-align: center;
    width: 60%;
    text-align: center;
}

.col-30 {
    width: 30%;
}

.col-30 .img1 {
    width: 100%;
}

.box1 h3 {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 36px;
    color: #232323;
    font-weight: 700;
    font-family: "Cardo";
}

.box1 p