* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

#main-header {
    background: url(../images/Rectangle.png);
    height: auto;
}

.container {
    width: 1200px;
    padding-right: 15px;
    margin-right: auto;
    padding-left: 15px;
    margin-left: auto;
    margin: auto 0;
}

/* .container-fluid{
    width:100%;
    padding-right: 15px;
    margin-right: auto;
    padding-left: 15px;
    margin-left: auto;
} */
.row {
    display: flex;
}

.navbar ol li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.ml-a {
    margin-left: auto;
    padding: 5px;
}

.txt-end {
    text-align: end;
}

.subtitle {
    margin-right: 10px;
    border: 2px dashed #3d2514;
    display: inline-block;
    padding: 8px 15px;
}

@font-face {
    src: url(../../Fonts-download/Bebas_Neue.zip/);
    font-family: "bebas";
}

.title {
    font-family: bebas;
    font-size: 100px;
    color: #3d2514;
    text-transform: uppercase;
}

@font-face {
    font-family: poppin;
    src: url(../../Fonts-download/Poppins.zip);
}

.subtitle2 {
    font-family: poppin;
    font-size: 50px;
    color: #3d2514;
    text-transform: uppercase;
}

.col-50 {
    width: 50%;
}

.pos-re {
    position: relative;
    
}

.pos-ab {
    position: absolute;
    top: 100px;
}

.burgerimg{
    width:30px;
}

.circle{
    margin-top: -30%;
    margin-right: 50%;
}
.price{
    text-align: center;
    margin-right: auto;
}