@font-face {
    font-family: opensans;
    src: url(./img_Font/Fonts-Open-sans/OpenSans-Medium.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.jst {
    justify-content: space-between;
}

.align {
    align-items: center;
}

.container {
    width: 1220px;
    margin: 0 auto;
}

.pos-rel {
    position: relative;
}

.pos-ab {
    position: absolute;
}

.navbar ul li {
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    font-family: "Opensans";
    padding: 10px;
}

.navbar ul li a {
    color: #54524f;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Opensans";
}

.logo {
    padding: 15px 0;
}

.rectang {
    padding: 0px 70px;
    background-color: gray;
    position: relative;
    border-radius: 10px;
}

.rectang i {
    position: absolute;
    top: 3px;
    right: 10px;
}

.sec1-bg {
    /* background: linear-gradient(90deg, rgba(52, 52, 52, 0.046), rgb(67 64 55/0%)100%), url(../Hiking-PSD-Images/headerimg.png); */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.397)), url(./img_Font/headimg.png);
    /* background-image: url(../Hiking-PSD-Images/headerimg.png); */
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    height: 800px;
}

.sec1-text1 {
    font-size: 50px;
    width: 40%;
    margin: 40px 25px 0 0;
    color: #deb37e;
    font-family: "Opensans";
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.22));
    text-transform: uppercase;
}

.sec1-text1 button {
    padding: 8px 20px;
    border-radius: 10px;
}

.sec1-text1 button {
    display: flex;
    border: none;
    font-size: 15px;
    color: #776c64;
    font-weight: 600;
    font-family: "Opensans";
    text-align: center;
    margin: 0 50px 20px 0;
}

.sec1-text1 h5 {
    font-size: 15px;
    letter-spacing: 5px;
    color: #54524f;
    font-weight: 250;
    font-style: italic;
    font-family: "Opensans";
    text-align: center;
    margin: 0 0 50px 0;
}

.bodytext_1 {
    width: 500px;
    height: 100px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: lowercase;
    color: #54524f;
    font-weight: 200;
    font-style: italic;
    font-family: "Opensans";
    margin: 0 0 90px 0;
}

.header-bg {
    position: relative;
    z-index: 2;
    overflow:hidden;
}

.shape1 {
    top: 0px;
    width: 100%;
}

.shape1 img {
    width: 100%;
    top: 20px;
    z-index: 1;
}
 .sec1-2bg {
    transform: rotate(360turn); 
    width: 100%;
    z-index: 2;
    bottom: -34px;
} 

.sec2 {
    margin: 50px 0 10px 0;
}

.sec2-txt h3 {
    text-align: center;
    font-size: 63px;
    text-transform: uppercase;
    color: #e2a355;
    font-weight: 800;
    font-family: "Opensans";
    margin: 0 auto;
}

.sec2-txt p {
    width: 1788px;
    font-size: 20px;
    color: #7f7770;
    font-weight: 400;
    font-family: "Opensans";
    text-align: center;
}

.col-25 {
    width: 25%;
}

.box1 {
    background-color: #776c64;
    color: #fff;
    margin: 60px 50px;
}

.box1 img {
    display: block;
    width: 100%;
}

.box1 h4 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Opensans";
    padding: 10px 0 20px 20px;
}

.box1 p {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Opensans";
    padding: 10px 0 40px 20px;
}

.btn {
    align-items: center;
    justify-content: center;
}

.btn button {
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #776c64;
    color: #ffffff;
    font-weight: 700;
    font-family: "Opensans";
    padding: 16px 2.5em;
    border-radius: 3em;
    border: none;
    margin: 5px;
}

.sec3 {
    margin: 10px 0 10px 0;
    align-items: center;
    justify-content: center;
}

.overflow {
    overflow: hidden;
}

.col-50 {
    width: 50%;
}

.col-50 img {
    width: 50%;
}

.databox {
    width: 650px;
    background-color: #776c64;
    color: #fff;
}

.databox h3 {
    padding: 150px 15px 20px 15px;
    font-size: 55px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Opensans";
    text-transform: uppercase;
}

.databox h4 {
    width: 620px;
    height: 175px;
    font-size: 25px;
    color: #ffffff;
    font-weight: 250;
    font-family: "Opensans";
    padding: 20px 15px;
}

.databox button {
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #e2a355;
    color: #ffffff;
    font-weight: 700;
    font-family: "Opensans";
    border-radius: 3em;
    border: none;
    padding: 10px 20px;
    margin: 15px 0 25px 15px;
}

.databox01 {
    width: 650px;
    background-color: #deb37e;
}

.databox01 h3 {
    padding: 150px 15px 20px 15px;
    font-size: 52px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Opensans";
    text-transform: uppercase;
}

.databox01 h4 {
    width: 650px;
    font-size: 25px;
    color: #ffffff;
    font-weight: 250;
    font-family: "Opensans";
    padding: 20px 15px;
}

.databox01 button {
    padding: 10px 20px;
    margin: 15px 0 25px 15px;
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #e2a355;
    color: #ffffff;
    font-weight: 700;
    font-family: "Opensans";
    border-radius: 3em;
    border: none;
}

.sec4 img {
    width: 100%;
    margin: 0 auto;
}

.sec4 .recetangle {
    background-color: #7f7770;
    text-align: center;
}

.recetangle h3 {
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Opensans";
    margin: 0 auto;
    width: 100%;
}

.sec4 p {
    font-size: 25px;
    color: #dbdbdb;
    font-weight: 250;
    font-family: "Opensans";
    text-align: center;
    margin: 20px auto;
    width: 75%;
}

.sec5 {
    background-image: url(./img_Font/img05.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 100px 30px;
}

.sec5img01 {
    top: -32px;
    right: 0px;
}

.sec5img02 {
    bottom: -4px;
    right: 0;
}

.sec5text {
    font-family: "Opensans";
    text-align: right;
    margin: 100px 0;
}

.sec5text h2 {
    font-size: 76px;
    color: #deb37e
}

.sec5text h3 {
    font-size: 76px;
    color: black;
}

.col-25{
    width:25%;
    align-items: center;
    margin:0 auto;
}

.three h3 {
    font-size: 33px;
    color: #deb37e;
    font-weight: 700;
    font-family: "opensans";
}

.three p {
    color: #333d42;
    /* font-weight: 500; */
    font-family: "Opensans";
}

.sec7 {
    margin: 50px;
}

.icon {
    text-align: center;
}

.sec7 p {
    text-align: center;
    padding:20px;
    margin: 0 200px;
    font-size: 20px;
    color: #3f3f3f;
    font-weight: 500;
    font-family: "Opensans";
}

.sec7 h6 {
    font-size: 20px;
    color: #3f3f3f;
    font-weight: 600;
    font-family: "Opensans";
    text-align: center;
}

.sec8 {
    background-color: #deb37e;
}
.shap01, .shape02 img{
    width:100%;
    margin:0 auto;
}

.sec8 h3 {
    padding-top: 90px;
    font-size: 70px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Opensans";
    text-align: center;
}

.sec8 p {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    color: #54524f;
    font-weight: 300;
    font-family: "Opensans";
    text-align: center;
}

.text {
    text-align: center;
    padding: 40px 0;
}

.sec8 input {
    width: 25%;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 5px;
}

.sec8 button {
    width: 100px;
    border-radius: 32px;
    background-color: #54524f;
}

.sec8 button {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Opensans";
    text-align: center;
    padding: 5px;
}

.sec9 {
    background-color: #776c64;
    margin: 0 auto;
    overflow-x: hidden;
    padding-bottom: 40px;
}

.col-25 {
    width: 25%;
}

.sec-9 h4 {
    font-size: 25px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Opensans";
    padding: 20px 23px;
}

.sec9 p {
    font-size: 22px;
    color: #ffffff;
    font-weight: 100;
    font-family: "Opensans";
    padding: 10px 10px;
}

.sec9 ul li {
    padding: 5px 5px;
    margin: 3px 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 30px;
}

.col-25 h4 {
    font-size: 25px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Opensans";
    padding:5px 10px;
}

.row ol li {
    list-style: none;
    font-weight: 100;
    font-size: 22px;
    color: #ffffff;
    font-family: "Opensans";
    padding: 5px 10px;
}

/* @media(min-width:576px){
    .container{
        width:540px;
    }
    .col-25{
        width:100%;
    }
} */