* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#main-header {
    background: url(./Img_font/Rectangle.png );
}

.container {
    width: 1220px;
    margin: 0 auto;
    /* overflow-x: hidden; */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align {
    align-items: center;
}

.mp {
    padding-top: 20px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

/* .li:nth-child(2n),li:nth-child(3n+1){
    padding:10px;
} */
.ml-a {
    margin-left: auto;
    padding: 5px;
}

.right-content {
    text-align: end;
}

.subtitle {
    margin-right: 10px;
    border: 2px dashed #3d2514;
    display: inline-block;
    padding: 8px 15px;
}

@font-face {
    font-family: "bebas";
    src: url(./Img_font/font/BebasNeue-Regular.ttf);
}

.title {
    font-family: bebas;
    font-size: 150px;
    color: #3d2514;
    text-transform: uppercase;
}

@font-face {
    font-family: "bebasA";
    src: url(./Img_font/font/BebasNeue-Regular.ttf);
}

.subtitle2 {
    font-family: bebasA;
    font-size: 50px;
    color: #3d2514;
    text-transform: uppercase;
}

.sec1 {
    margin: 20px 0;
}

.col-50 {
    width: 50%;
}

.pos-re {
    position: relative;
}

.pos-ab {
    position: absolute;
}

.burger {
    width: 10%;
    top: 121px;
}

.pricecircle {
    bottom: 213px;
    right: 115px;
}

.frienchfries {
    display: flex;
    flex-wrap: wrap;
}

.price {
    top: 38px;
    left: 46px;
}

.bannertxt1 {
    text-transform: uppercase;
    color: rgb(241, 231, 237);
    font-family: bebasA;
    font-size: 29px;
    font-weight: 500;
    padding: 0 20px;
    top: 50px;
    left: 20px;
}

.bannertxt2 {
    text-transform: uppercase;
    color: rgb(248, 242, 246);
    font-family: bebasA;
    font-size: 25px;
    font-weight: 300;
    padding: 0 20px;
    top: 50px;
    left: 20px;
}

.bannertxt3 {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: bebasA;
    font-size: 25px;
    font-weight: 300;
    padding: 0 20px;
    top: 50px;
    left: 20px;
}

.bnr {
    padding-top: 31px;
}

.space {
    padding-left: 20px;
}

.sec2 {
    margin-top: 15px;
}

.smalltitle {
    text-align: center;
}

.smalltitle span {
    font-size: 25px;
    text-transform: uppercase;
    color: #3d2514;
    padding: 5px 5px;
    font-family: "bebasA";
    width: 218px;
    background-color: #ffc045;
}

.hea {
    text-transform: uppercase;
    font-family: bebasA;
    font-size: 50px;
    font-weight: 700;
    color: #3d2514;
    text-align: center;
    margin-top: 5px;
    
}

.head {
    color: #724525;
    letter-spacing: 2px;
    text-align: center;
}

.head {
    color: #3d2514;
    font-weight: 400;
    font-size: 17px;
}

.col-30 {
    width: 30%;
    align-items: center;
    justify-content: center;
    margin: 30px 20px;
}

.sec3 {
    align-items: center;
    justify-content: center;
}

.col-30 span img {
    width: 80%;
    justify-content: center;
}

.col-30 h4 {
    font-size: 27px;
    line-height: 38px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 300;
    font-family: "Bebas Neue";
    text-align: center;
}

.sentence {
    width: 367px;
    height: 51px;
    font-size: 17px;
    line-height: 21px;
    color: #3d2514;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
}

.linkbtn a{
    background-color: #bf2222;
    color: aliceblue;
    text-decoration: none;
}

.sec4_text h5{
    font-size: 29px;
    letter-spacing: 2px;
    line-height: 46px;
    text-transform: uppercase;
    color: #3d3d3d;
    font-weight: 500;
    font-family: "Bebas Neue";
}
.sec4_text h2{
    font-size: 35px;
    line-height: 46px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
    font-family: "Alfa Slab One";
}
.sec4_text p{
    width: 531px;
    height: 173px;
    font-size: 21px;
    line-height: 33px;
    color: #3d3d3d;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: justify;
}

.sec_4img img {
   width: 70%;
   margin: 0 auto;
   display: block;
}

.sec5{
    overflow: hidden;
}
.sec5_img1 {
    top: 0px;
    left: -80px;
}
.sec5_img2{
    top: 145px;
    left: 7em;
}
.sec5_img3 {
    position: absolute;
    bottom: -94px;
    right: -315px; 
}
.sec5_img3 img{
    width: 85%;
}
.center{
    text-align: center;
    margin: 80px;
}

.center h5 {
    font-size: 29px;
    letter-spacing: 2px;
    line-height: 46px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";
} 

.center h2 {
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 46px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
}

.sec5_table {
   width: 60%;
    margin: 0 auto;
}

.sec5 table tr td {
    box-sizing: border-box;
    margin: 0 5px;
    padding: 25px 25px;
    align-items: center;
}

.sec5 tr td a {
    width: 379px;
    height: 65px;
    background-color: #bf2222;
    text-decoration: none;
    color: #ffffff;
    padding:10px 15px;
    border-radius: 2px;
}

.sec5 tr td a {
    font-size: 21px;
    line-height: 46px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Alfa Slab One";
}

.sec6{
    background-image: url(./Img_font/Footer-2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.logof img{
    margin:20px;
}
.square {
    width: 1220px;
    background-color: black;
    opacity: 50%;
}

.alL p {
    color: #fdf9f9;
}

.alL img{ 
   background-color:  rgb(240, 231, 231);
   
}

.alr {
    align-items: right;
}

.row1 img{
    width:10px;
    height:5px;
    color:#424242;
}
.row1{
    text-transform: uppercase;
    padding:5px;
    color:#ffffff;
}

.row2 img{
    width:10px;
    height:5px;
    color:#424242;
}
.row2{
    text-transform: uppercase;
    padding:5px;
    color: #ffffff;
}