* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: "Roboto";
    src: url(./imges_font/Font/Roboto-Medium.ttf);
}

.navbar ul li a {
    text-decoration: none;
    list-style: none;
    color: #ffd7ad;
    font-size: 2.5rem;
    font-weight: 300;
    font-family: "Roboto";
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align {
    align-items: center;
    margin: 0 auto;
}

.jst {
    justify-content: space-between;
}

.header {
    background-image: url(./imges_font/img1.png);
    background-position: center;
    background-size: cover;
}

.padding {
    padding: 50px 0;
}

.line {
    background-color: brown;
}

.navbar {
    text-align: center;
}

.navbar ul li {
    font-size: 20px;
    color: #ffd7ad;
    font-weight: 400;
    font-family: "montserrat";
    display: inline-block;
    padding: 5px 10px;
    margin: 0 auto;
}

.headerbg {
    margin: 20px 0;
}

.logo1 img {
    width: 20%;
}

.logo1 h1 {
    font-size: 9rem;
    color: #ffd7ad;
    font-weight: 500;
    font-family: "Roboto";
}

.logo1 p {
    width: 80%;
    font-size: 2rem;
    color: #ffd7ad;
    font-weight: 70;
    font-family: "Roboto";
}

button {
    border: none;
    outline: none;
    border-radius: 2rem;
    background-color: #ffd7ad;
    padding: 10px 30px;
    margin: 30px 0;
}

.written {
    text-transform: uppercase;
    color: #4a1831;
    font-weight: 600;
    font-family: "Roboto";
}

.sec1 {
    background-color: #ffd7ad;
    padding: 20px 20px;
    text-align: center;
}

.sec1 h4 {
    text-align: center;
    font-size: 50px;
    color: #4a1831;
    font-weight: 500;
    font-family: "Roboto";
    padding: 10px 0;
}

.sec1 p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: #4a1831;
    font-weight: 300;
    font-family: "Roboto";
    padding: 20px 0;
}

.sec1 button {
    background-color: #4a1831;
}

.seemenu {
    text-transform: uppercase;
    color: #ffd7ad;
    font-weight: 600;
    font-family: "Roboto";
}

.img2 {
    background-color: #ffd7ad;
    width: 100%;
    display: block;
}

.sec2 {
    background-color: #ffd7ad;
    padding: 30px 0;
    align-items: center;
}

.img3 {
    width: 80%;
    margin: 20px;
}

.aboutMarichi {
    width: 90%;
    align-items: center;
    justify-content: center;
}

.aboutMarichi h5 {
    margin: 40px 0 20px 0;
    padding: 40px 0 0 0;
    font-size: 40px;
    color: #4a1831;
    font-weight: 400;
    font-family: "Roboto";
}

.aboutMarichi p {
    width: 80%;
    text-align: justify;
    font-size: 20px;
    color: #4a1831;
    font-weight: 100;
    font-family: "Roboto";
}

.aboutMarichi button {
    border-radius: 32px;
    background-color: #4a1831;
}

.sec2,
.sec3 {
    overflow: hidden;
}

.sec3 {
    background-color: #ffd7ad;
}

.image4 img {
    display: block;
    width: 90%;
    padding: 0 50px;
    margin: 0 60px;
}

.posab {
    position: absolute;
}

.image4 h3 {
    font-size: 100px;
    text-transform: uppercase;
    color: #e63956;
    font-weight: 800;
    font-family: "Roboto";
}

.image4 h5 {
    font-size: 50px;
    text-transform: uppercase;
    color: #55112e;
    font-weight: 800;
    font-family: "Roboto";
}

.image4 h4 {
    font-size: 80px;
    text-transform: uppercase;
    color: #6cc5ac;
    font-weight: 800;
    font-family: "Roboto";
}

.sec4 {
    background-color: #4a1831;
    padding: 40px 30px;
}

.seeoffer h4 {
    font-size: 50px;
    color: #ffd7ad;
    font-weight: 500;
    font-family: "Roboto";
    padding: 20px 0;
    margin-top: 30px;
}

.seeoffer p {
    width: 80%;
    font-size: 20px;
    color: #ffd7ad;
    font-weight: 100;
    font-family: "Roboto";
    margin-right: 20px;
}

.img5 img {
    width: 90%;
}

.sec5 {
    background-image: url(./imges_font/img6.png);
    background-size: cover;
    background-position: center;
    align-items: center;
}

.log2 {
    width: 20%;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.pedro p {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    color: #ffd7ad;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
    padding: 20px 0;
}

.pedro h5 {
    font-size: 30px;
    color: #ffd7ad;
    font-weight: 500;
    font-family: "Roboto";
    text-align: center;
    padding: 20px 0;
}

.sec6 {
    background-color: #ffd7ad;
    padding: 40px 0;
}

.Latestoffer h4 {
    font-size: 50px;
    color: #4a1831;
    font-weight: 500;
    font-family: "Roboto";
    text-align: center;
    padding: 30px 0;
}

.Latestoffer p {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: #4a1831;
    font-weight: 100;
    font-family: "Roboto";
}

.Latestoffer {
    text-align: center;
}

.btn {
    text-align: center;
}

.btn input {
    border-radius: 33px;
    font-size: 15px;
    border: none;
    outline: none;
    padding: 10px 10px;
    width: 30%;
}

.btn button {
    background-color: #4a1831;
    color: aliceblue;
    font-size: 1rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    margin-left: -4rem;
}

.sec7 {
    background-color: #4a1831;
    padding: 2rem 0;
}

.sec7 ul li {
    border-radius: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
}

.faceb li i{
    background-color: #ffd7ad;
    color: #4a1831;
    border-radius:3rem;
    list-style: none;
    padding: 1rem 1rem;
    font-size: 3rem;
}

.fhadding {
    background-color: #4a1831;
    color: #ffd7ad;
    font-family: "Roboto";
}


.fhadding h4 {
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem 0.5rem;
}

.fhadding p {
    width: 70%;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 0.5rem;
}

.fhadding ol li {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.container {
    /* width: 1160px; */
    width: 100%;
    margin: 0 auto;
}

.col100 {
    width: 100%;
}

.col50 {
    /* width: 50%; */
    width: 100%;
}

.col35 {
    /* width: 35%; */
    width: 100%;
}

.col15 {
    /* width: 15%; */
    width: 100%;
}

@media(min-width:567px) {
    .container {
        width: 525px;
    }

    .col15 {
        width: 50%;
    }

    .col35,
    .col50,
    .col100 {
        width: 100%;
    }

    html {
        font-size: 50%;

    }
}

@media(min-width:762px) {
    .container {
        width: 720px;
    }

    .col100 {
        width: 100%;
    }

    .col50 {
        width: 50%;
    }

    .col35 {
        width: 25%;
    }

    .col15 {
        width: 15%;
    }
}

@media(min-width:992px) {
    .container {
        width: 950px;
    }

    .col100 {
        width: 100%;
    }

    .col50 {
        width: 50%;
    }

    .col35 {
        width: 35%;
    }

    .col15 {
        width: 15%;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1160px;
    }

}